body{
  width: 100%;
  height: 100%;
  background-image: url("https://i.ytimg.com/vi/_GiXOVMii48/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#top{
  position: fixed;
  left: 50%;
  width: 40vw;
  height: 15vh;
  margin: -3vh 0 0 -20vw;
  background-color: #cccccc;
  border-radius: 10vh 10vh 0 0;
  z-index: 1;
}

#camera{
  position: fixed;
  left: 50%;
  width: 5vh;
  height: 5vh;
  margin: 1vh 0 0 -12vw;
  background-color: #666666;
  border-radius: 5vh;
  z-index: 2;
}

#earphone{
  position: fixed;
  left: 50%;
  width: 18vw;
  height: 3vh;
  margin: 2vh 0 0 -5vw;
  background-color: #666666;
  border-radius: 3vh;
  z-index: 2;
}

#middle{
  position: fixed;
  left: 50%;
  width: 40vw;
  height: 73vh;
  margin: 12vh 0 0 -20vw;
  background-color: #cccccc;
}

#screen{
  position: fixed;
  left: 50%;
  width: 30vw;
  height: 73vh;
  margin: 12vh 0 0 -15vw;
  background: linear-gradient(to bottom right, #ff6600, #b300b3);
}

#bottom{
  position: fixed;
  left: 50%;
  width: 40vw;
  height: 15vh;
  margin: 85vh 0 0 -20vw;
  background-color: #cccccc;
  border-radius: 0 0 10vh 10vh;
  z-index: 1; 
}

#button{
  position: fixed;
  left: 50%;
  width: 10vh;
  height: 10vh;
  margin: 87vh 0 0 -5vh;
  background-color: #808080;
  border-radius: 10vh;
  z-index: 2;
}

.section{
  width: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35vh 0 0 -12.5vw;
  padding-bottom: 50vh;
  display: table; 
  color: #ffffff;
  font-family: sans-serif;
}

.chart{
  display: table;
  table-layout: fixed;
  position: absolute;
  width: 25vw;
  height: 10vh;
  padding: 0;
  margin: 0 0 0 1vw;
}

.chart li{
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  width: 2vw;
  height: 10vh;
}

.chart span{
  width: 2vw;
  margin: 0 0;
  display: block;
  background: #ffffff;
 /* animation: draw 5s linear;*/
}

.chart span::before{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 1vh 0 0 -1.7vw;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
/*
@keyframes draw{
  0%{height:0;}
}*/

#line_chart{
  position: relative;
  top: 20vh;
}

svg{
  margin: 0 0 0 -2.5vw;
}

.time_show{
  padding: 0;
}

.time_show li{
  display: inline-block;
  width: 3vw;
  height: 5vh;
  font-size: 2px;
  margin: 0 0 0 1.7vw;
}

#schedule{
  width: 25vw;
  height: 20vh;
  position: relative;
  top: 20vh;
}

#time_circle{
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
  background: #ffffff;
  margin: 0 3vw 0 1vw;
  float: left;
}

#schedule p{
  width: 30vw;
  height: 5vh;
  margin: 2vh 0 2vh 0;
  font-family: sans-serif;
}

#schedule #time_line{
  height: 13vh;
  position: absolute;
  margin: -18vh 0 0 2.2vw;
  border: 1px dashed #ffffff;
}

#article{
  position: absolute;
  top: 95vh;
  padding: 0 0 15vh 0;
  width: 26vw;
}

#article p{
  text-indent: 2vw;
}
