#story{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
	background-image: url("./png/story_bg.png");
	background-size: 100vw;
	background-repeat: repeat-y;
	overflow-y: scroll;
}

#story_bg{
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
}

#story_back{
	position: absolute;
	top: 0;
	left: 0;
}

#story_content{
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

#story_content_bg{
	width: 80vw;
	height: 80vh;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
}

#story_content_text{
	width: 61vw;
	position: fixed;
	top: 10vh;
	left: 20vw;
	font-size: 3vh;
	font-family: sans-serif;
	word-break: break-all;
}

#story_content_pic{
	width: 60vw;
	height: 60vw;
	position: fixed;
	top: 60vh;
	left: 50vw;
	transform: translate(-50%,-50%);
}

#story_end{
	width: 17vw;
	height: 6vh;
	position: fixed;
	top: 80vh;
	left: 66vw;
}

#story_click_1725_1{
	//display: none;
	position: absolute;
	top: 10vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1725_2{
	display: none;
	position: absolute;
	top: 10vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1736_1{
	//display: none;
	position: absolute;
	top: 40vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1736_2{
	display: none;
	position: absolute;
	top: 40vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1759_1{
	//display: none;
	position: absolute;
	top: 70vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1759_2{
	display: none;
	position: absolute;
	top: 70vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1775_1{
	//display: none;
	position: absolute;
	top: 100vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1775_2{
	display: none;
	position: absolute;
	top: 100vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1788_1{
	//display: none;
	position: absolute;
	top: 130vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1788_2{
	display: none;
	position: absolute;
	top: 130vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1835_1{
	//display: none;
	position: absolute;
	top: 160vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1835_2{
	display: none;
	position: absolute;
	top: 160vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1848_1{
	//display: none;
	position: absolute;
	top: 190vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1848_2{
	display: none;
	position: absolute;
	top: 190vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1907_1{
	//display: none;
	position: absolute;
	top: 220vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1907_2{
	display: none;
	position: absolute;
	top: 220vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1911_1{
	//display: none;
	position: absolute;
	top: 250vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1911_2{
	display: none;
	position: absolute;
	top: 250vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1911-2_1{
	//display: none;
	position: absolute;
	top: 280vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1911-2_2{
	display: none;
	position: absolute;
	top: 280vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1927_1{
	//display: none;
	position: absolute;
	top: 310vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1927_2{
	display: none;
	position: absolute;
	top: 310vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1928_1{
	//display: none;
	position: absolute;
	top: 340vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1928_2{
	display: none;
	position: absolute;
	top: 340vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1930_1{
	//display: none;
	position: absolute;
	top: 370vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1930_2{
	display: none;
	position: absolute;
	top: 370vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1932_1{
	//display: none;
	position: absolute;
	top: 400vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1932_2{
	display: none;
	position: absolute;
	top: 400vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1935_1{
	//display: none;
	position: absolute;
	top: 430vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1935_2{
	display: none;
	position: absolute;
	top: 430vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1963_1{
	//display: none;
	position: absolute;
	top: 460vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1963_2{
	display: none;
	position: absolute;
	top: 460vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1965_1{
	//display: none;
	position: absolute;
	top: 490vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1965_2{
	display: none;
	position: absolute;
	top: 490vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1977_1{
	//display: none;
	position: absolute;
	top: 520vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}

#story_click_1977_2{
	display: none;
	position: absolute;
	top: 520vh;
	left: 6vw;
	width: 80vw;
	height: 25vh;
}
/*
img[id^=story_1]{
	width: 69vw;
}*/	